---
// Navigation.astro
---

<a href="/home" class="nav-link nav-top">修幽</a>
<a href="/thoughts" class="nav-link nav-left">思想</a>
<a href="/about" class="nav-link nav-right">关于</a>
<a href="https://github.com" target="_blank" rel="noopener noreferrer" class="nav-link nav-bottom">GITHUB</a>
